.DealsCards {
    margin-top: rem(15px);
    &-item {
        max-width: rem(375px);
        min-width: rem(330px);
        margin: rem(10px) rem(10px) rem(15px);
    }
    &-header,
    &-body,
    &-aside {
        margin-bottom: rem(15px);
    }
    &-body,
    &-aside {
        padding:  0 rem(15px);
    }
    &-image{
        img{
            width: 100%;
        }
    }
    &-title,
    &-description{
        margin-bottom: rem(15px);
        .material-icons{
            margin-right: rem(10px);
        }
    }
}