/* Global variables */

$primary-blue: #0066cc;
$primary-gray: rgba(0, 0, 0, 0.76);
$primary-blue-light: rgba($primary-blue, 0.3);

$primary-black-light: rgba(0, 41, 82, 0.27);

$error-color: red;

$white: #ffffff;